# ===== Java / Maven =====
target/
*.class
*.log

# Maven backup files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# ===== Gradle (por si acaso) =====
.gradle/
build/

# ===== IDEs =====
# Eclipse
.project
.classpath
.settings/
.factorypath

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Env / secrets =====
.env
*.local
